@keyframes pulse-toast-even {
  50% {
    scale: 1.04;
  }
}

@keyframes pulse-toast-odd {
  50% {
    scale: 1.04;
  }
}

@keyframes skeleton {
  100% {
    background-position: -200% 0;
  }
}

@theme inline {
  --animate-pulse-toast-even: pulse-toast-even 0.28s ease;
  --animate-pulse-toast-odd: pulse-toast-odd 0.28s ease;
  --animate-skeleton: skeleton 2s -1s infinite linear;
}
