:root {
  --white: oklch(100% 0 0);
  --black: oklch(0% 0 0);
  --snow: oklch(0.9911 0 0);
  --eclipse: oklch(0.2103 0.0059 285.89);

  /* Neutral */
  --neutral-25: oklch(0.991 0 0);
  --neutral-50: oklch(0.973 0 0);
  --neutral-100: oklch(0.942 0 0);
  --neutral-200: oklch(0.9 0 0);
  --neutral-300: oklch(0.78 0 0);
  --neutral-400: oklch(0.65 0 0);
  --neutral-500: oklch(0.52 0 0);
  --neutral-600: oklch(0.387 0 0);
  --neutral-700: oklch(0.321 0 0);
  --neutral-800: oklch(0.252 0 0);
  --neutral-900: oklch(0.178 0 0);
  --neutral-950: oklch(0 0 0);

  /* Brand */
  --brand-25: oklch(0.991 0 0);
  --brand-50: oklch(0.973 0 0);
  --brand-100: oklch(0.942 0 0);
  --brand-200: oklch(0.9 0 0);
  --brand-300: oklch(0.78 0 0);
  --brand-400: oklch(0.52 0 0);
  --brand-500: oklch(0.252 0 0);
  --brand-600: oklch(0.178 0 0);
  --brand-700: oklch(0.13 0 0);
  --brand-800: oklch(0.09 0 0);
  --brand-900: oklch(0.045 0 0);
  --brand-950: oklch(0 0 0);

  /* Accent */
  --accent-25: oklch(0.991 0 0);
  --accent-50: oklch(0.973 0 0);
  --accent-100: oklch(0.942 0 0);
  --accent-200: oklch(0.9 0 0);
  --accent-300: oklch(0.78 0 0);
  --accent-400: oklch(0.52 0 0);
  --accent-500: oklch(0.387 0 0);
  --accent-600: oklch(0.321 0 0);
  --accent-700: oklch(0.252 0 0);
  --accent-800: oklch(0.178 0 0);
  --accent-900: oklch(0.09 0 0);
  --accent-950: oklch(0 0 0);

  /* Feedback: error */
  --error-25: oklch(0.99 0.003 17.2);
  --error-50: oklch(0.973 0.009 26);
  --error-100: oklch(0.942 0.02 21.4);
  --error-200: oklch(0.904 0.038 23.9);
  --error-300: oklch(0.843 0.071 24);
  --error-400: oklch(0.717 0.161 25.9);
  --error-500: oklch(0.637 0.21 28.5);
  --error-600: oklch(0.566 0.202 29.3);
  --error-700: oklch(0.482 0.189 29.9);
  --error-800: oklch(0.399 0.151 29.8);
  --error-900: oklch(0.334 0.121 29.3);
  --error-950: oklch(0.258 0.088 29);

  /* Feedback: warning */
  --warning-25: oklch(0.994 0.003 84.6);
  --warning-50: oklch(0.981 0.008 73.7);
  --warning-100: oklch(0.961 0.017 76.1);
  --warning-200: oklch(0.938 0.033 74.8);
  --warning-300: oklch(0.905 0.059 75.3);
  --warning-400: oklch(0.81 0.135 71.2);
  --warning-500: oklch(0.747 0.17 62.1);
  --warning-600: oklch(0.683 0.157 61.9);
  --warning-700: oklch(0.583 0.131 63.2);
  --warning-800: oklch(0.483 0.105 65.1);
  --warning-900: oklch(0.404 0.084 65.8);
  --warning-950: oklch(0.312 0.062 68.1);

  /* Feedback: success */
  --success-25: oklch(0.994 0.003 174.5);
  --success-50: oklch(0.983 0.011 167.8);
  --success-100: oklch(0.966 0.023 165.9);
  --success-200: oklch(0.948 0.045 165.9);
  --success-300: oklch(0.924 0.079 164.2);
  --success-400: oklch(0.814 0.161 158.8);
  --success-500: oklch(0.686 0.167 154.9);
  --success-600: oklch(0.664 0.16 155.1);
  --success-700: oklch(0.639 0.154 155.2);
  --success-800: oklch(0.546 0.133 154.8);
  --success-900: oklch(0.453 0.107 155.4);
  --success-950: oklch(0.345 0.078 156.7);
}
